body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222; 
    color: #fff; 
    background-image: url('background.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    background-color: #555555;
    padding: 10px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.logo {
    float: left;
    font-size: 24px;
}

.navbar-links {
    float: right;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

/* Search form styles */
.search-form {
    align-items: center; /* Center align form content */
}

.search-form input[type="text"] {
    width: 300px; /* Set width of search input */
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.search-form button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}

.hero-section {
    padding: 50px 0;
    text-align: center;
}

.book:hover {
    transform: translateY(-30px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.book-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns layout */
    gap: 20px; 
}

.book {
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: #444; 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.book img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.book-info {
    text-align: center;
}

.book-info h4 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}

.book-info p {
    font-size: 14px;
}

.contact-section {
    padding: 50px 0;
    text-align: center;
}

form {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

